<footer>
  <p>Posted by: IET NITK</p>

  <a href = "https://www.w3schools.com/tags/tag_i.asp"><i class="fa fa-facebook-square" style="font-size:36px"></i></a>

  <a href = "https://www.w3schools.com/tags/tag_i.asp"><i class="fa fa-instagram" style="font-size:36px"></i></a>
</footer>
