<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAZHq_b7MK1RIvQWwrqQ2Bsh2kKuxcP5u5MP3peIc2EoPUA3lmcQ" width="30" height="30" class="d-inline-block align-top" alt="">
    TRADERECT
  </a>
</nav>
