<!DOCTYPE html>
<html>
<head>
  <title> Contact Us </title>
  <% include partials/css_headstyles.ejs %>
</head>

<body>
  <% include partials/header.ejs %>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">You can contact us through these options</h1>
      <p class="lead">BLAH AND BLAH AND BLAH</p>
    </div>
  </div>

  <% include partials/footer.ejs %>

  </body>
  </html>
