<!DOCTYPE html>
<html>
<head>
  <title>Page not found </title>
  <% include partials/css_headstyles.ejs %>
</head>

<body>
  <% include partials/header.ejs %>
  <% include partials/account_icon.ejs %>
  <% include partials/submitadd_icon.ejs %>
  <img alt = "page not found" align = "center" src ="https://previews.123rf.com/images/amisb/amisb1702/amisb170200205/73266369-page-not-found-error-404-.jpg">
  <% include partials/searchbar.ejs %>

  <% include partials/footer.ejs %>
</body>
</html>
