<!doctype html>
<html>
<head>
    <title >..</title>
    <% include partials/css_headstyles.ejs %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
<% include partials/header.ejs %>
<% include partials/account_icon.ejs %>
<% include partials/submitadd_icon.ejs %>
<% include partials/searchbar.ejs %>










<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<% include partials/footer.ejs %>

</body>
</html>
